* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.mobile-header {
    display: none;
}

.fon-header {
	max-width: 100%;
	height: 100vh;
	background-image: url(../img/fon1.jpg);
	background-size: cover;

}

.header	{
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,0.45);

}

.logo-inner,
.menu-inner,
.login-inner {
	width: 80%;
	height: 35%;
	margin: 0 auto;
	margin-top: 25px;
}


/* Логотип */
.logo {
	width: 30%;
	height: 90px;
	float: left;
	background-color: rgba(0,0,0,0.45);
}

.logo-inner a {
	text-decoration:none;
}


.logo-txt {
	font-family: "IstokWebRegular" ,sans-serif;
	text-transform: uppercase;
    margin-top: 27px;
    letter-spacing: 0.4em;
    margin-bottom: -11px;
    display: block;
    font-size: 1.85em;
    width: 59%;
    transition: 1s;
    color: #fff;

    
}

/* Меню*/

.menu {
	width: 45%;
	height: 90px;
	float: left;
	background-color: rgba(0,0,0,0.45);
}

.menu-item {
	width: auto;
    margin-left: 10px;
	height: 100%;
	display: inline-block;
	border:1px solid green;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.menu-item:hover {
	width: auto;
    margin-left: 10px;
	height: 100%;
	display: inline-block;
	border:1px solid green;
	background-color: #3F2D5F;
}

.menu-item p {
	font-size: 14px;
	padding: 0px 10px;
	letter-spacing: 0.2em;
    text-align: center;
    color: #fff;
    margin-top: 7px;
    text-transform: uppercase;
    font-family: "IstokWebRegular" ,sans-serif;
}



/* Логин , регистрация*/
.login {
	width: 24.5%;
	height: 90px;
	float: left;
	background-color: rgba(0,0,0,0.45);
}

.login-item {
	width: auto;
    margin-left: 10px;
	height: auto;
	display: inline-block;
	border:1px solid red;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.login-item:hover {
	width: auto;
    margin-left: 10px;
	height: auto;
	display: inline-block;
	border:1px solid red;
	background-color: #3F2D5F;
}

.login-item p {
	font-size: 14px;
	padding: 0px 10px;
	letter-spacing: 0.2em;
    text-align: center;
    color: #fff;
    margin-top: 7px;
    text-transform: uppercase;
    font-family: "IstokWebRegular" ,sans-serif;
}


/* Текст*/


.info {
	clear: both;
	width: 70%;
    height: 400px;
    margin-top: 144px;
    margin: 0 auto;
	
}

.info h1 {
	font-size: 2.75em;
	color:#fff;
	font-family: "Exo2Regular",sans-serif;
	font-weight: 300;
	padding-top: 150px;
	
}

/* Мои работы */

.content {
	width: 100%;
	min-width: 1350px;
	height: 650px;
	
}

.content-head-txt {
	width: 20%;
	height: 650px;
	float: left;
}

.content-head-txt-top {
	width: 100%;
	height: 50px;
	font-family: "Exo2Regular",sans-serif;
	text-align: center;
	margin-top: 120px;
}

.content-head-txt-list {
	width: 80%;
	height: auto;
	margin: 50px auto;
}

.content-head-txt-list {
	width: 80%;
	height: auto;
	margin: 50px auto;
}

.content-head-txt-list a {
	text-decoration: none;
}

.list-inner {
	border:1px solid green;
	margin-top: 10px;
	color:#000;
	font-family: "IstokWebRegular" ,sans-serif;
}

.list-inner:hover {
	border:1px solid red;
	margin-top: 10px;
	color:#000;
	font-family: "IstokWebRegular" ,sans-serif;
}

.content-main {
	width: 79%;
	height: 650px;
	float: left;
	margin-top: 100px;
	font-family: "Exo2Regular",sans-serif;
}

.fon-txt {
	width: 100%;
	height: auto;
	
}

.content-main p {
	margin: 0 100px;
	font-size: 18px;

}

.portfolio {
	width: 80%;
	height: 300px;
	margin: 45px auto;
	margin-bottom: 30px;

}

.portfolio-left {
	width: 47%;
	height: auto;
	float: left;
	padding: 5px;
	
}

.portfolio-right {
	width: 47%;
	height: auto;
	float: left;
	padding: 5px;
}


.portfolio-btn {
	width: 20%;
	height: 50px;
	margin: 0 auto;
	border:1px solid #181233;
    cursor: pointer;
    -webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.portfolio-btn:hover {
	width: 20%;
	height: 50px;
	margin: 0 auto;
	background-color: #332354;
	border:1px solid #332354;
	cursor: pointer;
}

.portfolio-btn h3 {
	text-align: center;
	color:#181233;
	font-family: "Exo2Regular",sans-serif;
	padding-top: 11px;
}

.portfolio-btn h3:hover {
	text-align: center;
	color:#fff;
	font-family: "Exo2Regular",sans-serif;
	padding-top: 11px;
}





/* Стили первого (главного) слайдера */

.hover-image-5 a {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  height: auto;
  text-align: center;
  background: #bfe2ff;
}
.hover-image-5 a img {
  opacity: 1;
  transition: opacity 0.5s;
  position: relative;
  max-width: 100%;
  height: auto;
  display: block;
}
.hover-image-5 a:hover img {
  opacity: 0.5;
}
.hover-image-5 a div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hover-image-5 a div::before,
.hover-image-5 a div::after {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  content: "";
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  pointer-events: none;
}
.hover-image-5 a div::before {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: scale(0, 1);
}
.hover-image-5 a div::after {
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: scale(1, 0);
}
.hover-image-5 a:hover div::before,
.hover-image-5 a:hover div::after {
  opacity: 1;
  transform: scale(1);
}
.hover-image-5 div img,
.hover-image-5 div i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -24px;
  width: 48px;
  height: 48px;
  transition: transform 0.5s ease 0s;
  transform: scale(0);
  font-size: 48px;
  color: #fff;
}
.hover-image-5 a:hover div img,
.hover-image-5 a:hover div i {
  transform: scale(1);
  opacity: 1;
}

/* Технологии */

.tehno {
	width: 100%;
	height: 120px;
	background-color: #3F2D5F;
}




/* Мой блог*/

.news {
	clear: both;
	width: 100%;
	height: 650px;
	
	
}

.news-txt {
    width: 20%;
	height: 650px;
	float: left;
		
}
.head-txt {
	width: 100%;
    height: 50px;
    font-family: "Exo2Regular",sans-serif;
    text-align: center;
    margin-top: 120px;

}
.news-content {
	width: 79%;
	height: 650px;
    float: left;
    font-family: "Exo2Regular",sans-serif;
}

.news-content-txt{
	width: 100%;
	height: 100px;
	margin-top: 114px;
}

.news-content-txt p {
    margin: 0 100px;
    font-size: 18px;
}

.news-content-main {
	width: 100%;
	height: 300px;
	margin-bottom: 54px;
	
}


.news-one {
	width: 33%;
	height: 300px;
	float: left;
	

}

.news-one-inner {
	position: relative;
	width: 90%;
	height: 90%;
	margin: 0 auto;
	margin-top: 13px;
	background: url("http://placehold.it/317x270");
}

.news-one-inner img {
	z-index: 102;
}

.inner-txt {
	width: 100%;
	height: 100px;
	z-index: 101;
	position: relative;
	bottom: -169px;

}

.inner-txt h2 {
	margin:0 20px;
	
}

.inner-txt-head {
	width: 100%;
	height: 75%;
	
}

.contact {
	width: 100%;
	height: 250px;
	
}

.contact-title {
     
}


/* футер */
footer {
	width: 100%;
	height: auto;
	background-color: #3F2D5F;
	padding-bottom: 20px;
}

.footer-head {
	width: 60%;
	height: 60px;
	margin: 55px auto;
    padding-top: 1px;
}

.footer-text a {
	color:#fff;
}

.footer-head h1 {
	text-align: center;
	font-family: "Exo2Regular",sans-serif;
	color:#fff;
}

.footer-head p {
	font-size: 16px;
	text-align: center;
	font-family: "Exo2Regular",sans-serif;
	color:#000;
	margin-top: 8px;
}

.footer-text {
	width: 80%;
	height: auto;
	border:1px dotted #fff;
	padding:20px 20px;
	border-radius: 5px;
	margin: 0 auto;

}

.footer-text a {
	text-decoration: none;
	color:#fff;
	font-size: 16px;
	font-family: "Exo2Regular",sans-serif;
}

.footer-text span {
	text-transform: uppercase;
	color:#fff;
	font-size: 20px;
	font-family: "IstokWebRegular" ,sans-serif;
	
}

.line-txt {
	width: 100%;
	height: 50px;
}

.line-txt h3 {
	font-family: "Exo2Regular",sans-serif;
	text-align: center;
	margin-top: 20px;
}

/* стили слайдера */

.banner-container {
    overflow: hidden;
    position: relative;
}
.banner-container li {
    float: left;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 9;
}
.banner-container li a {
    display: block;
    padding: 0px;
    margin: 0px;
}
.banner-container li a img {
    max-width: none;
    height: 350px; /* Высота фотографий */
}
.banner-container li span.overlay {
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}


.contact-title {
	width: 20%;
    height: auto;
    float: left;

}

.title-inner {
	   width: 100%;
    height: 50px;
    font-family: "Exo2Regular",sans-serif;
    text-align: center;
    margin-top: 120px;
}

.contact-txt {
	width: 79%;
    height: auto;
    float: left;
        font-family: "Exo2Regular",sans-serif;
}


@media only screen and (min-width : 1000px) and (max-width : 1280px) {
.menu-item p {
    font-size: 13px;
    padding: 0px 10px;
    letter-spacing: 0.2em;
    text-align: center;
    color: 
    #fff;
    margin-top: 7px;
    text-transform: uppercase;
    font-family: "IstokWebRegular" ,sans-serif;
}

.login-item p {
    font-size: 13px;
    padding: 0px 10px;
    letter-spacing: 0.2em;
    text-align: center;
    color: 
    #fff;
    margin-top: 7px;
    text-transform: uppercase;
    font-family: "IstokWebRegular" ,sans-serif;
}
.portfolio-left {
	clear: both;
    width: 47%;
    height: auto;
    padding: 5px;
}

.portfolio-right {
	clear: both;
    width: 47%;
    height: auto;
    padding: 5px;
}

.portfolio {
	width: 80%;
	height: 500px;
	margin: 45px auto;
	margin-bottom: 30px;

}

.content {
	width: 100%;
	min-width: 1350px;
	height: 850px;
	
}

.fon-txt {
    width: 73%;
    height: auto;
}

.portfolio-btn {
    width: 20%;
    height: 50px;
    margin: 0 auto;
        margin-left: auto;
    border: 1px solid 
    #181233;
    cursor: pointer;
    margin-left: 200px;
    -webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.portfolio-btn:hover {
    width: 20%;
    height: 50px;
    margin: 0 auto;
        margin-left: auto;
    border: 1px solid 
    #181233;
    cursor: pointer;
    margin-left: 200px;
}

.footer-head p {
    font-size: 14px;
    text-align: center;
    font-family: "Exo2Regular",sans-serif;
    color: 
    #000;
    margin-top: 8px;
}

}
/*  (min-width : 1000px) and (max-width : 1280px) */
@media only screen and (min-width : 800px) and (max-width : 999px) {

.menu-item p {
    font-size: 12px;
    padding: 0px 10px;
    letter-spacing: 0.2em;
    text-align: center;
    color: 
    #fff;
    margin-top: 7px;
    text-transform: uppercase;
    font-family: "IstokWebRegular" ,sans-serif;
}

.login-item p {
    font-size: 12px;
    padding: 0px 10px;
    letter-spacing: 0.2em;
    text-align: center;
    color: 
    #fff;
    margin-top: 7px;
    text-transform: uppercase;
    font-family: "IstokWebRegular" ,sans-serif;
}
.portfolio-left {
	clear: both;
    width: 47%;
    height: auto;
    padding: 5px;
}

.portfolio-right {
	clear: both;
    width: 47%;
    height: auto;
    padding: 5px;
}

.portfolio {
	width: 80%;
	height: 500px;
	margin: 45px auto;
	margin-bottom: 30px;

}

.content {
	width: 100%;
	min-width: 1350px;
	height: 850px;
	
}

.fon-txt {
    width: 73%;
    height: auto;
}

.portfolio-btn {
    width: 20%;
    height: 50px;
    margin: 0 auto;
        margin-left: auto;
    border: 1px solid 
    #181233;
    cursor: pointer;
    margin-left: 200px;
    -webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.portfolio-btn:hover {
    width: 20%;
    height: 50px;
    margin: 0 auto;
        margin-left: auto;
    border: 1px solid 
    #181233;
    cursor: pointer;
    margin-left: 200px;
}

.footer-head p {
    font-size: 14px;
    text-align: center;
    font-family: "Exo2Regular",sans-serif;
    color: 
    #000;
    margin-top: 8px;
}

.logo-txt {
    font-family: "IstokWebRegular" ,sans-serif;
    text-transform: uppercase;
    margin-top: 27px;
    letter-spacing: 0.1em;
    margin-bottom: -11px;
    display: block;
    font-size: 1.85em;
    width: 59%;
    transition: 1s;
    color: 
    #fff;
}


.logo-inner, .menu-inner, .login-inner {
    width: 100%;
    height: 29%;
    margin: 0 auto;
        margin-top: 0px;
    margin-top: 25px;
}

.content-head-txt {
    width: 17%;
    height: 650px;
    float: left;
}

h1 {
    font-size: 1.85em;
    margin: 0.67em 0;
}

.adp-fix h3 {
    font-size: 16px;
    padding-top: 3px;
}


.adp-fix h3:hover {
    text-align: center;
    color:#fff;
    font-family: "Exo2Regular",sans-serif;
    padding-top: 3px;
}

.content-main p {
    margin: 0 100px;
    font-size: 16px;
}

.fon-txt {
    width: 60%;
    height: auto;
}

.news-content-txt p {

    margin: 0 100px;
    font-size: 16px;

}

}/*  (min-width : 800px) and (max-width : 999px) */

@media only screen and (min-width : 600px) and (max-width : 799px) {

.content-head-txt {
    width: 17%;
    height: 250px;
    clear: both;
    margin: 0 auto;
}

.content-main {
    width: 79%;
    height: 650px;
    clear: both;
    margin-top: 0px;
    font-family: "Exo2Regular",sans-serif;
}

.logo-txt {
    font-family: "IstokWebRegular" ,sans-serif;
    text-transform: uppercase;
    margin-top: 27px;
    letter-spacing: 0.1em;
    margin-bottom: -11px;
    display: block;
    font-size: 1.35em;
    width: 59%;
    transition: 1s;
    color: 
    #fff;
}

.logo-inner, .menu-inner, .login-inner {
    width: 115%;
    height: 35%;
    margin: 0 auto;
        margin-top: 0px;
    margin-top: 25px;
}

.menu-item {
    width: auto;
    margin-left: 10px;
    height: 96%;
    display: inline-block;
    border: 1px solid 
    green;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.menu-item:hover {
    width: auto;
    margin-left: 10px;
    height: 96%;
    display: inline-block;
    border: 1px solid 
green;
background-color:
    #3F2D5F;
}

.menu-item p {
    font-size: 12px;
    padding: 0px 10px;
    letter-spacing: 0.2em;
    text-align: center;
    color: 
    #fff;
    margin-top: 4px;
    text-transform: uppercase;
    font-family: "IstokWebRegular" ,sans-serif;
}

.login-item p {
    font-size: 11px;
    padding: 0px 10px;
    letter-spacing: 0.2em;
    text-align: center;
    color: 
    #fff;
    margin-top: 4px;
    text-transform: uppercase;
    font-family: "IstokWebRegular" ,sans-serif;
}

.login-item {
    width: auto;
    margin-left: 10px;
    height: auto;
    display: inline-block;
    border: 1px solid 
    red;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.content-head-txt {
    width: 17%;
    height: 120px;
    clear: both;
    margin: 0 auto;
}

.content-main p {
    margin: 0 100px;
    font-size: 14px;
}

.portfolio-left {
    width: 47%;
    height: auto;
    clear: both;
    padding: 5px;
}

.portfolio-right {
    width: 47%;
    height: auto;
    clear: both;
    padding: 5px;
}

.fon-txt {
    width: 75%;
    height: auto;
}

.content {
    width: 100%;
    min-width: 1350px;
    height: 860px;
}

.portfolio-btn {
    width: 20%;
    height: 50px;
    margin: 0 auto;
    border: 1px solid #181233;
    cursor: pointer;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin-top: 172px;
    margin-left: 20%;
}

.portfolio-btn:hover {
    width: 20%;
    height: 50px;
    border: 1px solid #181233;
    background-color: #332354;
    cursor: pointer;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin-top: 172px;
     margin-left: 20%;
}

.content-head-txt-top {
    width: 100%;
    height: 50px;
    font-family: "Exo2Regular",sans-serif;
    text-align: center;
    margin-top: 33px;
}

.news-txt {
    width: 33%;
    height: 60px;
    clear: both;
}

.news-content-txt p {
    margin: 0 100px;
    font-size: 16px;
}

.news-content {
    width: 79%;
    height: 650px;
    clear: both;
    margin-left: 40px;
    font-family: "Exo2Regular",sans-serif;
}

.news-content-txt {
    width: 100%;
    height: 100px;
    margin-top: 38px;
}

.contact-title {
    width: 20%;
    height: auto;
    float: left;
}

.adp-fix {
    width: 41%;
    height: 50px;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: auto;
    margin-top: 0px;
    margin-left: auto;
    border: 1px solid #181233;
    cursor: pointer;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
} 

.adp-fix:hover {
    width: 41%;
    height: 50px;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: auto;
    margin-top: 0px;
    margin-left: auto;
    border: 1px solid #181233;
    cursor: pointer;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    background-color: #332354;
} 

.contact {
    width: 100%;
    height: 345px;
}  

.title-inner {
    width: 100%;
    height: 50px;
    font-family: "Exo2Regular",sans-serif;
    text-align: center;
    margin-top: 16px;
    margin-left: 20px;
}  

.footer-head {
    width: 60%;
    height: 80px;
    margin: 55px auto;
    padding-top: 1px;
}

.logo {
    width: 30%;
    height: 90px;
   clear: both;
}

.header {
    display: none;
}

.mobile-header {
    display: block;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.45);
    margin-top: -27px;
    padding-top: 13px;
    cursor: pointer;
}

.mobile-logo {
    width: 90%;
    height: auto;
    float: left;

}

.mobile-logo h1 {
    margin-left: 40px;


}

.mobile-menu {
    width: 9%;
    height: 44px;
    float: left;
    margin-top: 20px;
}

.mobile-menu-inner {
    width: 40px;
    height: 40px;
    border:2px solid #fff;
    border-radius: 3px;
}

 
.menu-line {
   width: 70%;
   height: auto;
   margin: 7px auto;
   border:1px solid #fff;
}

.mobile-menu-items {
    width: 100%;
    height: auto;
    padding-bottom: 15px;


  
}

.items {
    width: 100%;
    height: auto;
    display: none;
}
.news-content-main {
    width: 100%;
    margin-bottom: 54px;
}

.news-one {
    width: 100%;
    height: 100px;
    clear: both;
}

.head-txt {
    width: 100%;
    height: 50px;
    font-family: "Exo2Regular",sans-serif;
    text-align: center;
    margin-top: 20px;
}

.inner-txt {
    width: 100%;
    height: 100px;
    z-index: 101;
    position: relative;
    bottom: -1px;
}

.inner-txt h2 {
    margin: 0 20px;
    text-align: center;
}

}/*  (min-width : 500px) and (max-width : 799px) */

